<div class="container">
    <div class="col-sm-9">
        <div class="jumbotron">
            <h1 class="display-3"> Thanks for joining us!! </h1>
            <p class="lead">Here you can order fruit and vegetables and our mail man will arrive up to your door quickly!</p>
            <hr class="my-4">
            <p> The Fruits and vegetables are carefully chosen - fresh, fine and from all kinds. 
                 Our stuff receive fresh goods every morning directly
                from the farmer. We meticulously select every fruit and vegetable before we send the product to shipping
                until it reaches the customer's home. We promise you, dear customers, that once you see our
                products with your own eyes and taste them, you will not be able to stand up to the wonderful taste and the
                unique aroma of freshness. All the fruits and vegetables we sell are first class and are intended for the
                highest quality export.
            </p>
            <br>
            <p class="lead">So what are you waiting for?</p>
            <p>Continue to order on the site and we will send you fruit and vegetables with great quality and taste.</p>
            <br>
            <p class="lead">Who we are?</p>
            <p>Batchen Itbarach and Mazal Gavian, Full stack web developer students at Tech-Career technological Center.</p>
        </div>
    </div>
    
</div>
<div class="col-sm-3 nav-div-right"></div>